.container {
    width: 1200px;
    margin: auto;
    background-color: white;
}

body {
    background-color: beige;
    font: 15px;
}

header {
    padding: 10px;
}

.header .judul {
    font-size: 30px;
    font: bold;
    padding: 10px;
}

.header ul li {
    display: inline-block;
    font-size: 25px;
    padding: 20px;
    margin-left: 150px;
    margin-top: auto;
    
}

.header a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.header a:hover {
    background-color: blue;
    color: white;
}

.hero {
    height: 400px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid lightblue;
    border-bottom: 5px solid salmon;
}

.content .penulis {
    font-size: -15px;
    margin-top: -10px;
}

.content .penulis a {
    text-decoration: none;
    color: blue;
}

.content .p {
    margin-bottom: 20px;
}